{# php_fastcgi_pass contains the bare minimum, for custom/careful
   routing; normally you will need something like the php macro #}
{% macro php_fastcgi_pass(pool) %}
    fastcgi_pass unix:/run/php5-fpm-{{ pool }}.sock;
    fastcgi_index index.php;
    include fastcgi_params;
{% endmacro %}

{% macro php(pool) %}
    try_files $uri 404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    {{ php_fastcgi_pass(pool) }}
{% endmacro %}
