{# Macro to setup a backup job.                                             #}
{# name: backup filename, something short and concise.                      #}
{# cmd: the command to run that will send to stdout whatever is to be saved #}
{#      try to avoid "s in the cmd please                                   #}
{% macro backup(name, cmd) %}
"backup-{{ name }}":
  cron.present:
    - minute: random
    - hour: 3
    - dayweek: 0
    - name: "nice ionice -c 3 {{ cmd }} | sudo -u backups nice ionice -c 3 /home/backups/backup.sh s3://{{ grains.id }}/{{ name }}-`echo -n $(date +'\\%Y\\%m\\%dT\\%H\\%M\\%S')`.gz.gpg"
    - identifier: "backup-{{ name }}"
{% endmacro %}
