{# Macro to setup a backup job.                                             #}
{# name: backup filename, something short and concise.                      #}
{# user: the user to run `cmd` as                                           #}
{# cmd: the command to run that will send to stdout whatever is to be saved #}
{# frequency: "daily" or "weekly"                                           #}
{% macro backup(name, user, cmd, frequency="weekly") %}
"backup-{{ name }}":
  file.managed:
    - name: /root/backups/{{ name }}.sh
    - makedirs: true
    - dirmode: 700
    - user: root
    - mode: 700
    - source: salt://backups/job.sh
    - template: jinja
    - context:
        name: {{ name }}
        user: {{ user }}
        cmd: {{ cmd }}
  cron.present:
    - minute: random
    - hour: 3
    {% if frequency == "daily" %}
    - dayweek: '*'
    {% elif frequency == "weekly" %}
    - dayweek: 0
    {% else %}
    Invalid frequency!
    {% endif %}
    - name: /root/backups/{{ name }}.sh
    - identifier: "backup-{{ name }}"
{% endmacro %}
