{# Macro to setup a backup job.                                             #}
{# name: backup filename, something short and concise.                      #}
{# cmd: the command to run that will send to stdout whatever is to be saved #}
{#      try to avoid "s in the cmd please                                   #}
{% macro backup(name, user, cmd) %}
"backup-{{ name }}":
  file.managed:
    - name: /root/backups/{{ name }}.sh
    - mkdirs: true
    - dirmode: 700
    - user: root
    - mode: 700
    - source: salt://backups/job.sh
    - template: jinja
    - context:
        name: {{ name }}
        user: {{ user }}
        cmd: {{ cmd }}
  cron.present:
    - minute: random
    - hour: 3
    - dayweek: 0
    - name: /root/backups/{{ name }}.sh
    - identifier: "backup-{{ name }}"
{% endmacro %}
