{% macro php_pool(name, user, max_servers=30, start_servers=10,
                  min_spare=5, max_spare=10) %}
/etc/php5/fpm/pool.d/{{ name }}.conf:
    file.managed:
        - source: salt://http/php/php-fpm-pool.conf
        - template: jinja
        - defaults:
            name: {{ name }}
            user: {{ user }}
            max_servers: {{ max_servers }}
            start_servers: {{ start_servers }}
            min_spare: {{ min_spare }}
            max_spare: {{ max_spare }}
        - watch_in:
            - service: php5-fpm
        {# if the user is not www-data, it is not necessarily the case that
           we are creating the user in another state. But it is almost 
           always true. #}
        {% if user != "www-data" %}
        - require:
            - user: {{ user }}
        {% endif %}
{% endmacro %}
