{# for use in listen_addresses and site-catchall.conf
   port : int
   ssl : bool
   default_server : bool
   use_x_forwarded : True | { from : string } | None
#}
{% macro listen_addresses(port, ssl, default_server, use_x_forwarded) %}
listen {{ port -}}
    {%- if default_server %} default_server{% endif -%}
    {%- if ssl and default_server %} ssl{% endif %};
listen [::]:{{ port -}}
    {%- if default_server %} ipv6only=on default_server{% endif -%}
    {%- if ssl and default_server %} ssl{% endif %};

{% if use_x_forwarded|default(false) %}
    real_ip_header    X-Forwarded-For;
    {% if use_x_forwarded is sameas True %}
    set_real_ip_from  127.0.0.1;
    {% else %}
    set_real_ip_from  {{ use_x_forwarded.from }};
    {% endif %}
{% endif %}
{% endmacro %}

{# This is both horrific and hilarious >_> #}
{# For use in a state file, to modify the nginx states

   http_port : int
   ssl : { port : int, certificate : string } | None
   use_x_forwarded : True | { from : string } | None

   The certificate specified in `ssl` is the certificate used in the catch-all
   server; you must also specify certificates in your nginx servers (see
   `site-template`).
#}
{% macro set_listen_addresses(http_port=80, ssl=None, use_x_forwarded=None) %}

{% if ssl and ssl.port is not defined %}
    {% set ssl = {"port": 443, "certificate": ssl.certificate} %}
{% endif %}

{# See issue#11. This is really really unpleasant. #}
{% if ssl is sameas None %}
    {% set ssl_yaml = 'null' %}
{% else %}
    {% set ssl_yaml = ssl|string %} {# fragile, but works #}
{% endif %}
{% if use_x_forwarded is sameas True %}
    {% set ufw_yaml = 'true' %}
{% elif use_x_forwarded is sameas None %}
    {% set ufw_yaml = 'null' %}
{% else %}
    {% set ufw_yaml = use_x_forwarded|string %} {# ditto #}
{% endif %}

extend:
    /etc/nginx/conf.d/catchall.conf:
        file.managed:
            - defaults:
                  http_port: {{ http_port }}
                  ssl: {{ ssl_yaml }}
                  use_x_forwarded: {{ ufw_yaml }}

    /etc/nginx/listen_addresses:
        file.managed:
            - defaults:
                  port: {{ http_port }}
                  ssl: false
                  use_x_forwarded: {{ ufw_yaml }}

{% if ssl %}
/etc/nginx/listen_addresses_ssl:
    file.managed:
        - defaults:
              port: {{ ssl.port }}
              ssl: true
              use_x_forwarded: {{ ufw_yaml }}
{% endif %}
{% endmacro %}

{# Short macro to grab SSL key and cert files from Pillar #}
{% macro deploy_ssl_files(hostname) %}
/etc/ssl/private/{{ hostname }}.crt:
  file.managed:
    - show_diff: false
    - mode: 600
    - contents_pillar: ssl:{{ hostname|replace('.', '_') }}:cert
    - watch_in:
      - service: nginx
/etc/ssl/private/{{ hostname }}.key:
  file.managed:
    - show_diff: false
    - mode: 600
    - contents_pillar: ssl:{{ hostname|replace('.', '_') }}:key
    - watch_in:
      - service: nginx
{% endmacro %}
