{# for use in listen_addresses and site-catchall.conf
   port : int
   ssl : bool
   default_server : bool
   use_x_forwarded : { from : string } | None
#}
{% macro listen_addresses(port, ssl, default_server, use_x_forwarded) %}
listen {{ port -}}
    {%- if default_server %} default_server{% endif -%}
    {%- if ssl and default_server %} ssl{% endif %};
listen [::]:{{ port -}}
    {%- if default_server %} ipv6only=on default_server{% endif -%}
    {%- if ssl and default_server %} ssl{% endif %};

{% if use_x_forwarded|default(False) %}
set_real_ip_from  {{ use_x_forwarded.from }};
real_ip_header    X-Forwarded-For;
{% endif %}
{% endmacro %}

{# This is both horrific and hilarious >_> #}
{# For use in a state file, to modify the nginx states #}
   http_port : int
   ssl : { certificate : string } | None
   use_x_forwarded : { from : string } | None
#}
{% macro set_listen_addresses(http_port=80, ssl=None, use_x_forwarded=None) %}
{% set ssl =
    if ssl is sameas None
    then 'null'
    else '{certificate: ' + ssl.certificate + '}'
%}
{% set ufw =
    if use_x_forwarded is sameas True
    then {"from": "127.0.0.1"}
    else use_x_forwarded
%}

extend:
    /etc/nginx/conf.d/catchall.conf:
        file.managed:
            - defaults:
                  http_port: {{ port }}
                  ssl: {{ ssl }}
                  use_x_forwarded: {from: {{ use_x_forwarded.from }}}

    /etc/nginx/listen_addresses:
        file.managed:
            - defaults:
                  port: {{ http_port }}
                  ssl: false
                  use_x_forwarded: {from: {{ use_x_forwarded.from }}}

    {% if ssl %}
    /etc/nginx/listen_addresses_ssl:
        file.managed:
            - defaults:
                  port: {{ ssl.port }}
                  ssl: true
                  use_x_forwarded: {from: {{ use_x_forwarded.from }}}
    {% endif %}
{% endmacro %}

{# Short macro to grab SSL key and cert files from Pillar #}
{% macro deploy_ssl_files(hostname) %}
/etc/ssl/private/{{ hostname }}.crt:
  file.managed:
    - show_diff: false
    - mode: 600
    - contents_pillar: ssl:{{ hostname|replace('.', '_') }}:cert
    - watch_in:
      - service: nginx
/etc/ssl/private/{{ hostname }}.key:
  file.managed:
    - show_diff: false
    - mode: 600
    - contents_pillar: ssl:{{ hostname|replace('.', '_') }}:key
    - watch_in:
      - service: nginx
{% endmacro %}
